
// ------------------------------
// Programs: App Fonts

// About: resolving issue with rem units when html font-size is not 100%.
// the issue is that the unit being used for fonts, padding and margins in the
// UX Pattern Library (UXPL) is relative to the font-size set on the html element.
// In studio this is set to 62.5%, however the UXPL assumes it is set to 100%. Because
// the page in studio has other elements that are native to studio that need to be styled
// we cannot adjust the html element's font-size on this page so I have added a Sass partial
// that sets px values for the elements to resolve the issue. In the long-term the UXPL will
// be added to studio and we will be able to remove this partial.
.program-app {
  padding-top: 20px;

  .hd-3 {
    font-size: 24px;
  }

  .copy-large {
    font-size: 18px;
  }

  .copy-base,
  .btn-base,
  .field-input,
  .field-label,
  button {
    font-size: 16px;
  }

  .form-group .field .field-hint,
  .field-message {
    font-size: 14px;
  }

  select {
    font-size: 13px;
  }

  .input-select {
    height: 40px;
  }

  .card {
    padding: 20px;
  }

  .btn-base {
    padding: 10px 20px;
  }

  fieldset {
    padding: 5.6px 10px 12px;
  }

  .field-input,
  .field-message.has-error {
    padding: 10px;
  }


  .form-group {
    margin-bottom: 30px;
    padding-top: 10px;

    .field {
      margin-bottom: 40px;
    }
  }

  p {
    margin-bottom: 20px;
  }

  .hd-3,
  .field-label {
    margin-bottom: 10px;
  }
}
