// ------------------------------
// Programs: Main Style Compile

// About: Sass compile for the Programs IDA.

// #CONFIG:         app-centric configuration/overrides
// #LIB:            third party libraries and dependencies
// #EXTENSIONS:     add-ons and further customizations


// ------------------------------
// #CONFIG
// ------------------------------
$scope-class: 'program-app';
@import 'config';


// ------------------------------
// #LIB
// ------------------------------
@import 'lib';
@import 'scoped-pattern-library';


// ------------------------------
// #EXTENSIONS
// ------------------------------
.#{$scope-class} {
    @import 'components';
    @import 'layouts';
    @import 'views';
    @import 'modals';
}

@import 'app-container';
@import 'app-typography';
